table.mat-table {
  width: 100%;
}
h1 {
  font-size: 28px;
  /* text-align: center; */
  margin: 10px;
}
th {
  font-weight: bold;
}
mat-form-field {
  font-size: 14px;
  width: 100%;
}
.add-btn {
  /* float: right; */
  margin: 10px;
}
